# Database
DATABASE_URL="postgresql://user:password@localhost:5432/wayfinder"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# APIs
ETHERSCAN_API_KEY=
WEB3BIO_API_KEY=
SOCIALDATA_API_KEY=
SERPER_API_KEY=
LIFI_API_KEY=

# App
PORT=3000
NODE_ENV=development
